<h2>Comments</h2>

<div id="comments">
  <%# Expands to render_partial: "comments/comment", collection: post.comments %>
  <%= render post.comments %>
</div>

<%= render "comments/new", post: post %>
